[secrets]
SECRET_KEY =

[database]
DATABASE_NAME = okapi_db
DATABASE_USER = okapi
DATABASE_PASSWORD = password
DATABASE_HOST = localhost
DATABASE_PORT =

[general]
DEBUG = False
ALLOWED_HOSTS = 127.0.0.1
