{% extends 'base.html' %}
{% block content %}
      <div class="row marketing clearfix">

        <div class="col-lg-6">
          <h4>About</h4>
          <p>
	  Technologies used.
	  <ul>
	      <li>Python</li>
	      <li>R</li>
	      <li>Postgresql</li>
	      <li>GNU\Linux servers</li>
	      <li>Git</li>
	  </ul>
	  Services
	  <ul>
	      <li>Amazon Web Services</li>
	      <li>Github</li>
	  </ul>
	  Frameworks and libraries
	  <ul>
	      <li>Django</li>
	      <li> <a href="https://facebookincubator.github.io/prophet/">Facebook Prophet</a></li>
	      <li>Sqlalchemy</li>
	  </ul>
	  Source code
	  <ul>
	      <li><a href="https://github.com/patrickspencer/okapi">Okapi: web front end for stock analysis program Stockwalk</a></li>
	      <li><a href="https://github.com/patrickspencer/stockwalk">Stockwalk: program for analysing stock prices for S&P companies using Facebook's Prophet library</a></li>
	  </ul>
	  </p>

        </div>
        <div class="col-lg-6">
          <h4>Companies in the S&P 500</h4>
	  {% for c in companies %}
	  <a href="/company/{{ c.symbol }}/">{{ c.name }}</a><br>
	  {% endfor %}
        </div>
      </div>

      {% endblock %}

